/* Provide a Dark theme for Citadel website
 *
 * Copyright (C) 2020 Mael "MoaMoaK" Kervella
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program. If not, see <https://www.gnu.org/licenses/>. 
 */

/* Color palette taken from MS fluent design
 * 
 * Faded Background: #11100F (gray220)
 * Standard Background: #201F1E (gray190)
 * Accentuated Background: #323130 (gray160)
 *
 * Faded Font: #BEBBB8 (gray70)
 * Standard Font: #EDEBE9 (gray40)
 * Accentuated Font: #FAF9F8 (gray10)
 *
 * Standard Neutral Color: #979593 (gray100)
 * Accentuated Neutral Color: #797775 (gray120)
 *
 * Faded Thematic Blue: #00BCF2 (blueLight)
 * Standard Thematic Blue: #0078D4 (blue)
 * Accentuated Thematic Blue: #00188F (blueMid)
 *
 */
  
/* Main sections */
body {
  color: #EDEBE9;
}
a, a:link, a:hover, a:visited {
  color: #0078D4;
}
.mx_MatrixChat > :not(.mx_LeftPanel_container):not(.mx_ResizeHandle) {
  background-color: #201F1E;
}
h2 {
  color: #FAF9F8;
}
#mx_theme_accentColor {
  color: #0078D4;
}
#mx_theme_secondaryAccentColor {
  color: #323130;
}
#mx_theme_tertiaryAccentColor {
  color: #11100F;
}

/* Top Bar (name of room and buttons) */
.mx_BaseAvatar_image {
  background-color: #201F1E;
  border-color: #979593;
}
.mx_RoomHeader_wrapper {
  box-shadow: 0 0 4px 0 #979593;
}
.mx_RoomHeader_name {
  color: #EDEBE9;
}
.mx_RoomHeader_topic {
  color: #BEBBB8;
}
.mx_RoomHeader_buttons {
  background-color: unset;
}
.mx_RoomHeader_searchButton {
  filter: brightness(150%);
}
.mx_RoomHeader_settingsButton {
  filter: brightness(150%);
}
.mx_HeaderButtons_notCollapsed {
  border-bottom-color: #323130;
}
.mx_HeaderButtons {
  border-left-color: #323130;
}
.mx_RightPanel_headerButton_highlight::after {
  background-color: #0078D4;
}
.mx_RightPanel_headerButton_highlight::before {
  filter: sepia(160%) brightness(100%) contrast(150%) invert(100%) saturate(150%)
}
.mx_RightPanel_membersButton::before {
  filter: brightness(150%);
}
.mx_RightPanel_filesButton::before {
  filter: brightness(150%);
}
.mx_RightPanel_notifsButton::before {
  filter: brightness(150%);
}
.mx_RightPanel_roomSettingsButton::before {
  filter: brightness(150%);
}

/* Right panel (members, files, alerts) */
.mx_RightPanel {
  border-left-color: #323130;
}
.dark-panel {
  background-color: #201F1E;
}
.mx_MemberList .mx_textinput {
  background-color: #11100F;
  border-bottom-color: #323130;
}
.mx_Dialog .mx_textinput > input[type="text"], .mx_Dialog .mx_textinput > input[type="search"], .mx_MatrixChat .mx_textinput > input[type="text"], .mx_MatrixChat .mx_textinput > input[type="search"] {
  color: #BEBBB8;
}
.mx_AutoHideScrollbar {
  scrollbar-color: rgba(151, 149, 147, 0.2) transparent; /* #979593 */
}
.mx_RoomSubList_addRoom {
  background-color: #0078D4;
}
.mx_MemberList .invite span {
  color: #0078D4;
}
.mx_EntityTile_ellipsis .mx_EntityTile_name {
  color: #BEBBB8;
}
.mx_MemberInfo_avatar .mx_BaseAvatar.mx_BaseAvatar_image {
  border-color: #323130;
}
.mx_MemberInfo_cancel {
  filter: invert(45%);
}
.mx_PowerSelector .text {
  color: #0078D4;
}
.mx_MemberInfo h3 {
  color: #0078D4;
}
.mx_MemberInfo_field {
  color: #EDEBE9;
}
.mx_MemberInfo .invite span {
  color: #0078D4;
}
.mx_FilePanel .mx_EventTile .mx_MFileBody_downloadLink {
  color: #FAF9F8;
}
.mx_FilePanel .mx_EventTile .mx_MFileBody_download {
  color: #BEBBB8;
}
.mx_FilePanel .mx_EventTile .mx_SenderProfile {
  color: #BEBBB8;
}
.mx_FilePanel .mx_EventTile .mx_MessageTimestamp {
  color: #BEBBB8;
}
.mx_FilePanel .mx_EventTile:hover .mx_EventTile_line {
  background-color: #323130;
}
.mx_NotificationPanel .mx_EventTile_roomName a {
  color: #FAF9F8;
}
.mx_NotificationPanel .mx_EventTile .mx_SenderProfile, .mx_NotificationPanel .mx_EventTile .mx_MessageTimestamp {
  color: #FAF9F8;
}
.mx_NotificationPanel .mx_EventTile:hover .mx_EventTile_line {
  background-color: #323130;
}

/* Search bar */
.mx_SearchBar {
  border-bottom-color: #323130;
}
.mx_SearchBar .mx_SearchBar_button {
  color: #0078D4;
  border-bottom-color: #0078D4;
}
.mx_SearchBar .mx_SearchBar_unselected {
  color: #EDEBE9;
}
.mx_SearchBar .mx_SearchBar_input {
  border-color: #BEBBB8;
}
.mx_SearchBar .mx_SearchBar_searchButton {
  filter: brightness(130%);
}
.mx_RoomHeader_cancelButton img {
  filter: brightness(130%);
}

/* Main chat history */
.mx_TopUnreadMessagesBar_scrollUp {
  background-color: #201F1E;
  border-color: #323130;
}
.mx_TopUnreadMessagesBar::after {
  background-color: #0078D4;
  color: #EDEBE9;
}
.mx_TimelineStarterCard .room-info .is-dm {
  color: #BEBBB8;
}
.mx_DateSeparator {
  color: #0078D4;
}
.mx_DateSeparator > hr {
  border-bottom-color: #0078D4;
}
.mx_EventTile_info {
  color: #BEBBB8;
}
.mx_EventTile .mx_SenderProfile {
  color: #F1F9F8;
}
.mx_EventTile .mx_MessageTimestamp {
  color: #BEBBB8;
}
.mx_MessageActionBar {
  background-color: #201F1E;
}
.mx_MessageActionBar > * {
  border-color: #323130;
}
.mx_MessageActionBar > :hover {
  border-color: #979593;
}
.mx_MessageActionBar_optionsButton::after {
  filter: contrast(70%);
}
.mx_RoomView_statusArea {
  background-color: #201F1E;
}
.mx_RoomView_statusAreaBox_line {
  border-top-color: #323130;
}
.mx_LinkPreviewWidget {
  color: #BEBBB8;
  border-left-color: #323130;
}
.mx_EventTile:hover .mx_EventTile_line, .mx_EventTile.mx_EventTile_actionBarFocused .mx_EventTile_line {
  background-color: rgba(50, 49, 48, 0.5); /* #323130 */
}
.mx_JumpToBottomButton_scrollDown {
  background-color: #201F1E;
  border-color: #323130;
}
.mx_EventTile_content .markdown-body a.mx_RoomPill, .mx_EventTile_content .markdown-body a.mx_GroupPill, .mx_RoomPill, .mx_GroupPill {
  color: #00BCF2;
  background-color: #323130;
}
.mx_EventTile_content .markdown-body a.mx_UserPill, .mx_UserPill {
  color: #00BCF2;
  background-color: #323130;
}
.mx_ContextualMenu {
  box-shadow: 0 0 4px 0 rgba(256, 256, 256, 0.2);
  background-color: #201F1E;
  color: #EDEBE9;
}
.mx_ContextualMenu_chevron_left {
  border-right-color: #201F1E;
}
.mx_ContextualMenu_chevron_left::after {
  border-right-color: #201F1E;
}
.markdown-body blockquote {
  color: #BEBBB8;
  border-left-color: #323130;
}
.mx_EventTile_content .markdown-body a {
  color: #0078D4;
}
.mx_EventTile_highlight .mx_EventTile_content .markdown-body a.mx_UserPill_me, .mx_EventTile_content .markdown-body a.mx_AtRoomPill, .mx_EventTile_content .mx_AtRoomPill, .mx_MessageComposer_input .mx_AtRoomPill {
  color: #FAF9F8;
  background-color: #0078D4;
}

/* Main chat composer */
.mx_MessageComposer_wrapper {
  box-shadow: 0 0 4px 0 #323130;
}
.mx_Autocomplete {
  border-color: #323130;
  background-color: #201F1E;
}
.mx_Autocomplete_ProviderSection {
  border-bottom-color: #323130;
}
.mx_Autocomplete_provider_name {
  color: #BEBBB8;
}
.mx_Autocomplete_Completion_pill {
  color: #EDEBE9;
}
.mx_Autocomplete_Completion_description {
  color: #BEBBB8;
}
.mx_MessageComposer_formatbar_markdown, .mx_MessageComposer_input_markdownIndicator {
  filter: contrast(0%) brightness(100%);
}
.mx_MessageComposer_upload {
  filter: contrast(100%) brightness(140%);
}

/* Left panel (people and rooms) */
.mx_TopLeftMenuButton {
  background-color: #0078D4;
  color: #FAF9F8;
}
.mx_TopLeftMenu .mx_TopLeftMenu_section_withIcon li:hover {
  background-color: #323130;
}
.mx_TopLeftMenu .mx_TopLeftMenu_section_withIcon li::after {
  filter: grayscale(100%) brightness(300%);
}
.mx_LeftPanel {
  background-color: #11100F;
}
.mx_LeftPanel .mx_textinput {
  background-color: #00188F;
}
.mx_LeftPanel ::placeholder, .mx_LeftPanel .mx_textinput > input[type="text"] {
  color: #FAF9F8;
}
.mx_RoomSubList_labelContainer {
  border-top-color: #323130;
}
.mx_RoomSubList_label > span {
  color: #0078D4;
}
.mx_RoomSubList_chevron {
  filter: sepia(200%) brightness(90%) contrast(150%) invert(100%) saturate(100%);
}
.mx_RoomTile_selected {
  background-color: #201F1E;
  border-bottom-color: #323130;
}
.mx_RoomTile_name {
  color: #EDEBE9;
}
.mx_RoomTile {
  border-bottom-color: #11100F;
}
.mx_RoomTile:focus {
  background-color: #201F1E;
}
.mx_RoomTile_menuButton {
  filter: contrast(70%);
}
.mx_MessageActionBar > :hover {
  background-color: #201F1E;
}
.mx_LeftPanel .publicRoomButton {
  background-color: #323130;
  color: #0078D4;
}
.mx_RoomSubList:not(.resized-all) > .mx_RoomSubList_scroll.mx_IndicatorScrollbar_topOverflow::before {
  background: linear-gradient(to top, rgba(17, 16, 15, 0), rgba(17, 16, 15, 1)); /* #11100F */
}

/* Matrix Toolbar (notifications) */
.mx_MatrixToolbar {
  background-color: #0078D4;
  color: #EDEBE9;
}
.mx_MatrixToolbar_link {
  color: #EDEBE9 !important;
}
.mx_MatrixToolbar_close img {
filter: brightness(130%);
}

/* Login screen */
.mx_AuthPage {
  background-color: #323130;
}
.mx_AuthPage_modalContent {
  background-color: #201F1E;
}
.mx_AuthHeaderLogo img {
  filter: invert(87%) hue-rotate(200deg); /* Ugly but it works ^^ */
}
.mx_AuthBody {
  background-color: #201F1E;
  color: #EDEBE9;
}
.mx_AuthBody .titles .title_wrapper .selected {
  color: #0078D4;
  border-bottom-color: #0078D4;
}
.mx_AuthBody .test-mode {
  color: #0078D4;
}
.mx_AuthBody input[type="text"], .mx_AuthBody input[type="password"] {
  color: #EDEBE9;
}
.mx_CitadelInput .input-wrapper .input {
  border-color: #BEBBB8;
}
.mx_CitadelInput .input-wrapper .eye img {
  filter: brightness(130%);
}
.mx_Login_submit {
  background-color: #0078D4;
  color: #FAF9F8;
}
.mx_Login_submit:enabled:hover {
  background-color: #00BCF2;
}
.mx_AuthFooter {
  color: #EDEBE9;
}
.mx_CitadelInput .input-wrapper .input:focus {
  border-color: #0078D4;
}
.mx_CitadelToggle .checkbox, .mx_CitadelToggle .radio {
  filter: brightness(130%);
}

/* Home page */
.gm-scrollbar .thumb {
  background-color: rgba(151, 149, 147, 0.2)
}
.mx_HomePage_header h1, .mx_HomePage_container h2 {
  color: #0078D4
}
.mx_HomePage_header p, .mx_HomePage_container_text, .mx_HomePage_footer a {
  color: #BEBBB8;
}
.mx_HomePage_logo img {
  filter: invert(87%) hue-rotate(200deg);
}

/* Profile settings */
.mx_Dialog {
  background-color: #201F1E;
}
.mx_Dialog_cancelButton {
  filter: brightness(130%);
}
.mx_Dialog_title {
  color: #EDEBE9;
}
.mx_TabbedView_tabLabels {
  color: #BEBBB8;
}
.mx_TabbedView_tabLabel_active {
  color: #0078D4;
}
.mx_TabbedView_tabLabel_active .mx_TabbedView_maskedIcon::before {
  filter: sepia(200%) brightness(160%) contrast(250%) invert(100%) saturate(100%);
}
.mx_TabbedView_maskedIcon::before {
  filter: sepia(50%) brightness(70%) invert(100%) saturate(20%);
}
.mx_SettingsTab_heading {
  color: #EDEBE9;
}
.mx_SettingsTab_subheading {
  color: #EDEBE9;
}
.mx_ProfileSettings_avatar:hover .mx_ProfileSettings_avatarOverlay:not(.mx_ProfileSettings_avatarOverlay_disabled) {
  color: #11100F !important;
  background-color: #FAF9F8 !important;
}
.mx_ProfileSettings_avatar:hover .mx_ProfileSettings_avatarOverlayImg::before {
  filter: saturate(100%) contrast(300%);
}
.mx_CitadelInfo .label {
  color: #EDEBE9;
}
.mx_CitadelInfo .value {
  color: #BEBBB8;
}
.mx_PasswordValidation .labels .met {
  color: #11100F
}
.mx_PasswordValidation .labels .label {
  color: #11100F;
  background-color: #979593;
  border-color: #11100F;
}
.mx_AccessibleButton_kind_primary {
  color: #FAF9F8;
  background-color: #0078D4;
}
input[type="text"], input[type="password"], textarea {
  color: #EDEBE9;
}
.mx_Dropdown {
  color: #EDEBE9;
}
.mx_Dropdown_input:focus {
  border-color: #0078D4;
}
.mx_Dropdown_arrow {
  filter: grayscale(100%) brightness(300%);
}
.mx_Dropdown_menu {
  border-color: #00BCF2;
  background-color: #201F1E;
}
.mx_Dropdown_menu .mx_Dropdown_option_highlight {
  background-color: #323130;
}
.mx_SettingsTab_section .mx_SettingsFlag .mx_SettingsFlag_label {
  color: #EDEBE9;
}
.mx_ToggleSwitch.mx_ToggleSwitch_on {
  background-color: #0078D4;
}
.mx_ToggleSwitch {
  background-color: #979593;
}
.mx_UserNotifSettings_keywords {
  color: #0078D4;
}
.mx_DevicesPanel_header {
  border-bottom-color: #EDEBE9;
}
.mx_SettingsTab a {
  color: #0078D4;
}

/* Room settings */
.mx_Dropdown_input {
  border-color: #BEBBB8;
}
.mx_CitadelInput .input-wrapper .error-wrapper img {
  filter: brightness(130%);
}

/* Public rooms browser */
.mx_RoomDirectory {
  color: #EDEBE9;
}
.mx_RoomDirectory::after {
  background-image: linear-gradient(to bottom, rgba(32,31,30,0), rgba(32,31,30, 1) 90%); /* #201F1E */
}
.mx_RoomDirectory_listheader {
  box-shadow: 0 4px 2px -2px rgba(17, 16, 15, 0.4); /* #11100F */
}
.mx_RoomDirectory_table {
  color: #EDEBE9;
}
.mx_RoomDirectory_roomMemberCount {
  color: #BEBBB8;
}
.mx_RoomDirectory_roomMemberCount img {
  filter: brightness(130%);
}

/* Room creation */
.mx_Dialog_content {
  color: #EDEBE9;
}
.mx_CreateRoomDialog .section .title {
  color: #0078D4;
}
.mx_CitadelToggle .label .description {
  color: #BEBBB8;
}
.mx_Dialog button.mx_Dialog_primary:hover:enabled, .mx_Dialog input[type="submit"].mx_Dialog_primary:hover:enabled {
  background-color: #00BCF2;
}

/* Add member to room */
.mx_AddressPickerDialog_link {
  color: #0078D4;
}

/* Contextual menu of people */
.mx_ContextualMenu {
  box-shadow: 0 0 4px 0 rgba(17, 16, 15, 0.8); /* #11100F */
}
.mx_RoomTileContextMenu_notif_picker img {
  filter: invert(100%) brightness(200%) contrast(200%);
}
.mx_RoomTileContextMenu_notif_icon {
  filter: invert(100%);
}
.mx_RoomTileContextMenu_separator {
  border-color: #323130;
}
.mx_RoomTileContextMenu_tag_icon {
  filter: brightness(130%);
}
.mx_RoomTileContextMenu_tag_icon_set {
  filter: brightness(130%);
}
