/* Provide more responsiveness on small screens
 *
 * Copyright (C) 2020 Mael "MoaMoaK" Kervella
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program. If not, see <https://www.gnu.org/licenses/>.
 */

@media (max-width: 820px) {
  .mx_EventTile_msgOption { display: none; }
  .mx_EventTile_line { margin-right: unset; }
  .mx_TopLeftMenuButton_name { display: none; }
  .mx_RoomTile { padding-left: 10px; }
  .mx_RoomTile_labelContainer { display: none; }
  .mx_LeftPanel_container { width: 120px; }
  .mx_RoomSubList_label > span { padding-left: 3px; letter-spacing: unset; margin-left: 0px; }
  .mx_RoomSubList_label { padding-left: 0px; }
  .mx_RoomSubList_labelContainer { padding: 0 3px 0 3px; }
  .mx_RoomSubList_addRoom { display: none; }
  .mx_LeftPanel .publicRoomButton { display: none; }
  .mx_RoomHeader_button { margin-right: 5px; }
  .mx_RightPanel_headerButton { width: unset; margin-right: 5px }
}
